

#banner-fade,
#banner-slide{
	margin-bottom: 60px;
}

ul.bjqs-controls.v-centered li a{
	display:block;
	padding:10px;
	background:#fff;
	color:#000;
	text-decoration: none;
}

ul.bjqs-controls.v-centered li a:hover{
	background:#000;
	color:#fff;
}

ol.bjqs-markers li a{
	padding:5px 10px;
	background:#000;
	color:#fff;
	margin:5px;
	text-decoration: none;
}

ol.bjqs-markers li.active-marker a,
ol.bjqs-markers li a:hover{
	background: #999;
}

p.bjqs-caption{
	background: rgba(255,255,255,0.5);
	white-space:nowrap;
	overflow:hidden;
	text-overflow:ellipsis;
}


.theme-box-title .more{ float:right; margin-right:10px; color:#FFFFFF;}


.theme-center .top-articles{ padding-left:20px;}
.theme-center .top-articles h4{ font-weight:bold; margin-top:0; text-align:center;overflow:hidden;text-overflow:ellipsis;white-space:nowrap;}
.theme-center .top-articles h4 a{color:#333;}
.theme-center .top-articles .summary{ color:#888;}
.theme-center .top-articles .summary a{ padding-left:10px; color:#333;}
.theme-center .top-articles ul{margin:10px 0 0 0; padding:0;}
.theme-center .top-articles li{ list-style:none; line-height:25px; height:25px;overflow:hidden;text-overflow:ellipsis;white-space:nowrap;}
.theme-center .top-articles li a{ color:#333; display:block; overflow:hidden; text-overflow:ellipsis;}

.theme-center .category-articles{}
.theme-center .category-articles ul{margin:0 0 0 25px; padding:0;}
.theme-center .category-articles li{ list-style:url(../images/ico-3.gif); line-height:25px; height:25px;}
.theme-center .category-articles a{ color:#333;}
.theme-center .category-articles img{max-width:100%;}
.theme-center .category-articles .article-time{ color:#999; padding-right:5px;}

.theme-east .active-users{}
.theme-east .active-users ul{ margin:0; padding:0;}
.theme-east .active-users li{ list-style:none;display:inline-block;*display: inline;*zoom: 1; padding:3px;}
.theme-east .active-users .active-user-avatar{text-align:center; }
.theme-east .active-users .active-user-name{padding-top:5px;}
.theme-east .active-users .active-user-name a{ color:#333;display:block;text-align:center; overflow:hidden;text-overflow:ellipsis;white-space:nowrap;}

.theme-east .month-hottest-article-thumbnail{overflow:hidden; margin:0 10px 10px 0;float:left;}
.theme-east .month-hottest-article-title{padding:0; margin:0}
.theme-east .month-hottest-article-title a{ color:#555;}
.theme-east .month-hottest-article-time{font-size:12px; color:#999; padding:6px 0 2px 0;}
